#password-manager-container{
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

#password-manager-container #first-section{
    display: flex;
    flex-flow: row;
    margin: 80px auto 0 auto;
    width: 70%;
    height: 30%;
}

#first-section img{
    height: 100%;
}

#info-container{
    background: linear-gradient(#1EC2A5, #154671);
    width: 80%;
    height: 80%;
    border-radius: 16px;
    display: flex;
    flex-flow: column;
    margin: auto;
}

#info-container h2{
    margin: auto auto 0 auto;
    font-size: 40px;
}

#info-container p{
    font-size: 20px;
    width: 80%;
    margin: 10px auto auto auto;
}

#password-input-container{
    width: 70%;
    margin: 20px auto;
    gap: 10px;
}

#password-input-container input{
    width: 85%;
    background: linear-gradient(#e2e2e2, #15467194);
    padding: 20px;
    border-radius: 15px;
    margin-right: 10px;
    color: #154671;
}

#password-input-container input:focus{
    outline: none;
}

#password-input-container input::placeholder{
    color: #154671;
    font-size: 20px;
}


#password-input-container button{
    width: 14%;
    background-color: #154671;
    color: white;
    padding: 20px;
    border-radius: 15px;
}